<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartbackend.dao.JobDao" >
    <resultMap id="BaseResultMap" type="com.smartbackend.model.Job">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="company" property="company" jdbcType="VARCHAR" />
        <result column="position" property="position" jdbcType="VARCHAR" />
        <result column="workdayperweek" property="workdayperweek" jdbcType="INTEGER" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="minSalary" property="minSalary" jdbcType="INTEGER" />
        <result column="maxSalary" property="maxSalary" jdbcType="INTEGER" />
        <result column="education" property="education" jdbcType="VARCHAR" />
        <result column="major" property="major" jdbcType="VARCHAR" />
        <result column="recruitnumber" property="recruitnumber" jdbcType="INTEGER" />
        <result column="monthforwork" property="monthforwork" jdbcType="INTEGER" />
        <result column="correction" property="correction" jdbcType="INTEGER" />
        <result column="hrposition" property="hrposition" jdbcType="VARCHAR" />
        <result column="endtime" property="endtime" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="recruiterWechat" property="recruiterWechat" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <result column="gmt_created" property="gmt_created"/>
        <result column="gmt_modified" property="gmt_modified"/>
    </resultMap>
    <select id="getJobById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from job
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getJobs" resultMap="BaseResultMap">
        select *
        from job
    </select>
    <select id="getMyJobs" resultMap="BaseResultMap" parameterType="java.lang.String">
        select *
        from job
        WHERE recruiterWechat=#{wechat}
    </select>
    <select id="getMyJobByStatus" resultMap="BaseResultMap">
        select *
        from job
        WHERE recruiterWechat=#{wechat} AND `status`= #{status,jdbcType=INTEGER}
    </select>
    <insert id="addJob">
        INSERT INTO job (company,position,workdayperweek,minSalary,maxSalary,address,education,major,
                         recruitnumber,monthforwork,correction,endtime,hrposition,description,recruiterWechat,
                         picture,`status`,gmt_created,gmt_modified)
        VALUES (#{company},#{position},${workDayPerWeek},${minSalary},${maxSalary},#{address},#{education},#{major},
                           ${recruitNumber},${monthForWork},${correction},#{endTime},#{hrPosition},#{description},#{recruiterWechat},
                           #{picture},1,NOW(),NOW())
    </insert>
    <update id="changeJobStatus">
        UPDATE job SET `status`= #{status,jdbcType=INTEGER} WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getJobsViewd" resultMap="BaseResultMap">
        SELECT * FROM job WHERE id in (
            SELECT jobid FROM hunting WHERE traineewechat = #{wechat} AND `view`= 1)
    </select>
    <select id="getJobsFollowed" resultMap="BaseResultMap">
        SELECT * FROM job WHERE id in (
        SELECT jobid FROM hunting WHERE traineewechat = #{wechat} AND follow= 1)
    </select>
    <select id="getJobsDeliveried" resultMap="BaseResultMap">
        SELECT * FROM job WHERE id in (
        SELECT jobid FROM hunting WHERE traineewechat = #{wechat} AND delivery= 1)
    </select>
</mapper>