<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartbackend.dao.RecruiterDao" >
    <resultMap id="BaseResultMap" type="com.smartbackend.model.Recruiter" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="company" property="company" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="wechat" property="wechat" jdbcType="VARCHAR" />
        <result column="headpic" property="headpic" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getRecruiterByWechat" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from recruiter
        where wechat = #{wechat}
    </select>
    <insert id="insertRecruiter">
        INSERT INTO recruiter (company,telephone,email,wechat,gmt_created,gmt_modified,headpic,nickname)
                VALUES (#{company},#{telephone},#{email},#{wechat},NOW(),NOW(),#{headpic},#{nickname})
    </insert>
    <select id="getRecruiters" resultMap="BaseResultMap">
        select *
        from recruiter
    </select>
    <update id="updatePic">
        UPDATE recruiter SET headpic = #{headpic},nickname = #{nickname} WHERE wechat = #{wechat}
    </update>
    <delete id="deleteRecruiter">
        DELETE FROM recruiter WHERE wechat=#{wechat}
    </delete>
    <delete id="deleteJob">
        DELETE FROM job WHERE recruiterWechat=#{wechat}
    </delete>
</mapper>