<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartbackend.dao.TraineeDao" >
    <resultMap id="BaseResultMap" type="com.smartbackend.model.Trainee" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="VARCHAR" />
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="email" property="mail" jdbcType="VARCHAR"/>
        <result column="education" property="education" jdbcType="VARCHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR" />
        <result column="minor" property="minor" jdbcType="VARCHAR"/>
        <result column="workdayperweek" property="workDayPerWeek" jdbcType="INTEGER"/>
        <result column="startwork" property="timeStartWork" jdbcType="VARCHAR"/>
        <result column="wechat" property="wechat" jdbcType="VARCHAR"/>
        <result column="graduatetime" property="graduateTime" jdbcType="VARCHAR"/>
        <result column="headpic" property="headpic" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getAllTrainees" resultMap="BaseResultMap">
        select *
        from trainee
    </select>
    <select id="getTraineeById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from trainee
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="addTrainee">
        INSERT INTO trainee(name,gender,school,telephone,major,minor,wechat,workdayperweek,startwork,email,education,graduatetime,headpic,nickname)
                VALUES (#{name},#{gender},#{school},#{telephone},#{major},#{minor},#{wechat},${workdayperweek},#{startwork},#{email},#{education},#{graduateTime},#{headpic},#{nickname})
    </insert>
    <select id="getTraineeByWechat" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT * FROM trainee WHERE wechat = #{wechat}
    </select>
    <select id="getViewList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * FROM trainee WHERE wechat IN (SELECT traineewechat FROM hunting WHERE jobid = #{jobId,jdbcType=INTEGER}  AND `view`=1)
    </select>
    <select id="getFollowList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * FROM trainee WHERE wechat IN (SELECT traineewechat FROM hunting WHERE jobid = #{jobId,jdbcType=INTEGER}  AND `follow`=1)
    </select>
    <update id="updatePic">
        UPDATE trainee SET headpic = #{headpic},nickname = #{nickname} WHERE wechat = #{wechat}
    </update>
    <delete id="deleteTrainee" parameterType="java.lang.String">
        DELETE FROM trainee WHERE wechat=#{wechat};
    </delete>
    <delete id="deleteHunting" parameterType="java.lang.String">
        DELETE FROM hunting WHERE traineewechat=#{wechat};
    </delete>
    <delete id="deleteResume" parameterType="java.lang.String">
        DELETE FROM `resume` WHERE traineewechat=#{wechat};
    </delete>
    <update id="modifyInfo">
        UPDATE trainee SET name = #{name},gender = #{gender},school=#{school},telephone = #{telephone},major=#{major},minor=#{minor},
            workdayperweek= ${workdayperweek},startwork=#{startwork},
            email=#{email},education=#{education},graduatetime=#{graduateTime} WHERE wechat = #{wechat}
    </update>
</mapper>
